@import 'nav';
@import 'home';


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



